.App {
  background-color: #222;
  text-align: center;
  min-height: 100vh; /* required for full page background */
}

#root {
  min-height: 100vh; /* required for full page background */
}

.appBody {
  height: 100%;
  margin-top: 80px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Nav Bar */
.navButton {
  float: left;
  display: inline-block;
  margin-left: 24px;
  padding: 5px 15px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #03A9F4;
  font-size: 24px;
}
.connectButton {
  float: right;
  margin-right: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 5px 15px;
  color: #222;
  box-shadow: #E91E63 2px 2px, #03A9F4 4px 4px, #2ecc71 6px 6px;
  font-size: 24px;
  cursor: pointer;
}
.connectButton:hover {
  background-color: #e6ebee;
}
.navBar {
  padding-top: 18px;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(17, 104, 241, 0.08);
  box-shadow: #e91e62 5px 5px, #03a8f4 10px 10px, #2ecc70 15px 15px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Market */
.marketContainer {
  background-color: #ffffff;
  width: 620px;
  height: 170px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  padding: 8px;
  box-shadow: #e91e62 5px 5px, #03a8f4 10px 10px, #2ecc70 15px 15px;
}
.subContainer {
  margin-bottom: 20px;
  box-shadow: #e91e62 0px 5px;
}
.marketOption {
  display: flex;
  margin-left: 22px;
}
.optionData {
  margin-left: 10px;
  color: #222;
  font-weight: 700;
}
.optionPercent {
  display: block;
  font-size: 24px;
  font-weight: 1000;
  color: #2ecc71;
}
.logoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 28px;
  height: 28px;
}
.marketHeader {
  color: #222;
  font-size: 32px;
  font-weight: 800;
}
.hoverButton:hover {
  background: #82d6fd;
  cursor: pointer;
}
.hoverButton:active {
  /* box-shadow: 0 0 0 white; */
  box-shadow: inset;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Assets */
.assetContainer {
  background-color: #fff;
  width: 620px;
  min-height: 225px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  padding: 6px;
  padding: 8px;
  margin-top: 90px; /* space between sections */
  color: #222;
  font-weight: 500;
  box-shadow: #e91e62 5px 5px, #03a8f4 10px 10px, #2ecc70 15px 15px;
}
.columnHeaders {
  font-weight: 800;
  color: #222;
}
.stakedLogoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 18px;
  height: 18px;
}


/*////////////////////////////////////////////////////////////////////////////*/
/* Glyphs */
.glyphContainer {
  background-color: #fff;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.glyph {
  font-size: 34px;
}

/******************************************************************************/
/* Stake Modal */
.modal-class {
  background-color: #00000080;
  position: fixed;
  left: 0;
  top: -400px;
  right: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);
}
.modal-content {
  background-color: #222;
  width: 300px !important;
  padding: 0px 15px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}
.orangeButton {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  color: #222;
  border-radius: 20px;
  background-color: #dd2f81;
  cursor: pointer
}
.orangeMiniButton {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #000;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer
}
.orangeMiniButton:hover {
  color: #fff;
  background-color: #2ecc71;
}
.stakingTerms {
  color: blue;
}